<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>welcome</title>
</head>

<body background="index.webp">




	</h1>



	<h1>
		<center>WELCOME</center>
	</h1>
	<p align="right">
		<a href="https://indianhelpline.com/Plasma-Helpline/">
			<button>Help</button>
		</a> <br>
	<h2>PLASMA</h2>
	<p>Plasma is the liquid component of a blood that contributes to
		55% of your blood's total volume.</p>
	<p>Plasma is necessary to help your body recover from injury,
		distribute nutrients, remove waste</p>
	<p>and prevent infection, while moving throughout your circulatory
		system.</p>
	<br>
	<h2>How do I donate plasma?</h2>

	<p>There are two ways that you can donate plasma:
	<h4>1.Donating whole blood:</h4>
	<P>A healthcare provider places a needle in a vein in your arm and
		withdraws blood. Later, a laboratory will separate plasma as needed.</P>
	</p>
	<h4>2.Donating plasma only (plasmapheresis):</h4>
	<p>
		Similar to having whole blood removed, a healthcare provider will
		place a needle in a vein in your arm to withdraw blood.<br> That
		blood enters a centrifuge machine that spins it and separates the
		plasma from the blood cells and platelets.
	</P>
	The machine removes the separated plasma and returns your remaining
	blood components into your body in a saltwater (saline) solution.
	</p>
	<p>
		After removing plasma from your body, the lab freezes your donated
		plasma within 24 hours of removing it to preserve clotting factors and
		immunoglobulins. Frozen plasma has<br> a shelf life of one year.
	</p>

	<p>Plasma from donors with an AB blood type is preferred because it
		does not have antibodies in it and can be given to any blood type
		recipient, but anyone can donate.</p>
	<br>
	<h2>What are the symptoms of plasma disorders?</h2>
	<P>Symptoms of plasma conditions include :</P>
	<ul>
		<li>Bone pain.</li>
		<li>Bruising and/or bleeding easily.</li>
		<li>Heart palpitations (arrhythmia).</li>
		<li>Pain in your hands and wrist (carpal tunnel syndrome).</li>
		<li>Weakened immune system.</li>
	</ul>
	<br>
	<h2>What tests check the health of my body’s plasma?</h2>
	<p>There are several tests to check the health of your plasma:</p>
	<ul>
		<li>Blood volume test: Measures the amount of blood in your body</li>
		<li>Bone marrow biopsy: Your healthcare provider removes a sample<br>
			of your bone marrow to test for abnormal plasma cells
		</li>
		<li>Complete blood count test: Provides information about your
			blood and overall health.</li>
		<li>Plasma protein test: Identifies the amount of all plasma
			proteins in your blood.</li>
	</ul>
	<br>
	<br>

	<center>
		<a href="secount.html">
			<button>Next</button>
		</a>
	</center>
	</h3>
</body>
</html>